@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.nav-item{
  padding-left: 3vw;
}

footer{
  padding: 2vw;
}

footer a{
  font-size: 3vw;
  padding: 2vw;
  color: #343a40;
}
