
.carousel-inner{
 height: 40vw;
}

.carousel-inner img{
  transform: translateY(-25%);
  width: 100%;
}

.carousel-caption{
  margin-bottom: 20vw;
}
.carousel-caption h1{
  font-size: 8vw ;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
  font-size: 4vw;
  text-shadow: 1px 1px 10px #000;
}
 .next-slide{
  margin-bottom: 30vw;
}
.next-slide h3{
 text-align: left;
}

.carousel-caption p{
  font-size: 0.5em;
  text-align: justify;
}

.carousel-caption button{
  font-size: 3vw;
  size:auto;
}

.jumbotron{
  padding: 5%;
  margin: 0;
  border-radius: 0;
  text-align: justify;
}

@media (max-width: 576px){
  .carousel-inner{
   height: 80vw;
  }
  .carousel-inner img{
    transform: none;
    width: auto;
    height: 80vw;
  }

  .next-slide{
   margin-bottom: 20vw;
 }
 .jumbotron p{
   font-size: 0.9em;
 }
}
